In [108]:
import pandas as pd

# csv파일 불러오기
df = pd.read_csv('./csv/지역_유형별 신용카드_(단위_억).csv')
df

,"지역, 카테고리",전국_합계,전국_종합소매,전국_ 백화점,전국_ 대형마트/유통전문점,전국_ 슈퍼마켓,전국_ 편의점,전국_ 면세점,전국_전자상거래/통신판매,전국_식료품,...,기타_오락/문화,기타_ 스포츠/오락/여가,기타_ 서적/문구,기타_교육,기타_숙박/음식,기타_ 숙박,기타_ 음식점,기타_공과금/개인 및 전문 서비스,기타_금융/보험,기타_기타
0,2012/11,299970.34,53558.49,13695.10,26123.23,10604.38,1826.54,1309.25,29166.45,4778.33,...,199.11,170.57,28.54,59.54,406.89,32.29,374.60,135.28,149.68,220.67
1,2012/12,310533.02,57731.17,14542.45,28802.59,11308.05,1810.70,1267.38,29971.83,4895.34,...,157.60,129.33,28.27,57.97,421.34,34.17,387.16,133.34,139.66,210.24
2,2013/01,296732.27,51384.80,11189.07,25640.42,11435.88,1778.78,1340.65,28545.80,5024.76,...,148.65,118.30,30.35,70.66,435.66,39.59,396.07,159.48,144.30,230.65
3,2013/02,267365.92,48141.86,9748.40,25035.42,10602.32,1652.60,1103.11,24596.71,5510.28,...,115.72,91.37,24.35,59.00,332.70,24.29,308.40,123.70,126.38,214.44
4,2013/03,295640.18,49572.79,10873.94,24769.86,10904.74,1877.38,1146.88,26704.28,4775.35,...,167.24,129.95,37.29,66.02,376.96,26.64,350.32,129.63,141.08,225.45
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
109,2021/12,539935.08,72991.73,16509.80,29238.11,17759.22,8968.91,515.68,132006.30,10014.39,...,48.16,39.11,9.05,33.21,204.97,11.36,193.60,89.73,108.63,99.44
110,2022/01,545394.92,76347.07,16044.01,31659.32,19422.93,8730.99,489.82,131621.64,12855.90,...,43.54,34.25,9.29,35.70,202.78,12.85,189.93,124.77,97.08,115.64
111,2022/02,470296.08,62651.29,12867.77,25751.48,15657.35,7927.86,446.83,119029.37,7986.69,...,38.94,32.40,6.54,29.49,166.96,11.19,155.78,84.38,91.09,88.90
112,2022/03,539346.45,71787.11,14932.79,28682.36,18116.34,9562.31,493.32,134751.97,8896.80,...,59.91,48.73,11.18,33.54,194.62,9.98,184.65,87.45,117.69,105.94
113,2022/04,551389.61,72791.62,16272.46,28736.88,17730.61,9418.61,633.06,130324.09,9477.90,...,68.18,60.01,8.17,31.44,225.23,10.70,214.53,89.46,107.07,117.50

In [109]:
# 날짜 컬럼 "/" 제거
df["지역, 카테고리"] = df["지역, 카테고리"].str.replace("/", "")

In [110]:
# 날짜 컬럼 int 타입으로 변환
df["지역, 카테고리"] = df["지역, 카테고리"].astype(int)

In [111]:
df["지역, 카테고리"] = pd.to_datetime(df["지역, 카테고리"], format='%Y%m')
df["지역, 카테고리"] = df["지역, 카테고리"].dt.strftime('%Y-%m')
df.rename(columns={"지역, 카테고리" : "날짜"}, inplace=True)

In [112]:
credit_sum_df = df.iloc[:, df.columns.str.contains("전국")]
credit_sum_df.columns

Index(['전국_합계', '전국_종합소매', '전국_ 백화점', '전국_ 대형마트/유통전문점', '전국_ 슈퍼마켓', '전국_ 편의점',
       '전국_ 면세점', '전국_전자상거래/통신판매', '전국_식료품', '전국_ 일반식료품', '전국_ 건강보조식품',
       '전국_의류/잡화', '전국_ 의복/직물', '전국_ 복식잡화', '전국_ 시계/귀금속/안경', '전국_ 화장품',
       '전국_연료', '전국_가구/가전', '전국_ 가구', '전국_ 가전제품/정보통신기기', '전국_의료/보건',
       '전국_ 종합병원', '전국_ 일반병의원/기타의료기관', '전국_자동차', '전국_ 국산자동차신품', '전국_ 기타운송수단',
       '전국_ 자동차 부품 및 정비', '전국_여행/교통', '전국_ 여행사/자동차임대', '전국_ 항공사', '전국_ 대중교통',
       '전국_오락/문화', '전국_ 스포츠/오락/여가', '전국_ 서적/문구', '전국_교육', '전국_숙박/음식', '전국_ 숙박',
       '전국_ 음식점', '전국_공과금/개인 및 전문 서비스', '전국_금융/보험', '전국_기타'],
      dtype='object')

In [ ]:
credit_sum_df.columns[['전국_합계', '전국_종합소매', '전국_백화점', '전국_대형마트/유통전문점','전국_슈퍼마켓','전국_편의점',
       '전국_ 면세점', '전국_전자상거래/통신판매', '전국_식료품', '전국_ 일반식료품', '전국_ 건강보조식품',
       '전국_의류/잡화', '전국_ 의복/직물', '전국_ 복식잡화', '전국_ 시계/귀금속/안경', '전국_ 화장품',
       '전국_연료', '전국_가구/가전', '전국_ 가구', '전국_ 가전제품/정보통신기기', '전국_의료/보건',
       '전국_ 종합병원', '전국_ 일반병의원/기타의료기관', '전국_자동차', '전국_ 국산자동차신품', '전국_ 기타운송수단',
       '전국_ 자동차 부품 및 정비', '전국_여행/교통', '전국_ 여행사/자동차임대', '전국_ 항공사', '전국_ 대중교통',
       '전국_오락/문화', '전국_ 스포츠/오락/여가', '전국_ 서적/문구', '전국_교육', '전국_숙박/음식', '전국_ 숙박',
       '전국_ 음식점', '전국_공과금/개인 및 전문 서비스', '전국_금융/보험', '전국_기타']]

In [113]:
credit_sum_df = pd.DataFrame(df, columns=[
        '날짜', '전국_합계', '전국_종합소매', '전국_ 백화점', '전국_ 대형마트/유통전문점', '전국_ 슈퍼마켓', '전국_ 편의점',
       '전국_ 면세점', '전국_전자상거래/통신판매', '전국_식료품', '전국_ 일반식료품', '전국_ 건강보조식품',
       '전국_의류/잡화', '전국_ 의복/직물', '전국_ 복식잡화', '전국_ 시계/귀금속/안경', '전국_ 화장품',
       '전국_연료', '전국_가구/가전', '전국_ 가구', '전국_ 가전제품/정보통신기기', '전국_의료/보건',
       '전국_ 종합병원', '전국_ 일반병의원/기타의료기관', '전국_자동차', '전국_ 국산자동차신품', '전국_ 기타운송수단',
       '전국_ 자동차 부품 및 정비', '전국_여행/교통', '전국_ 여행사/자동차임대', '전국_ 항공사', '전국_ 대중교통',
       '전국_오락/문화', '전국_ 스포츠/오락/여가', '전국_ 서적/문구', '전국_교육', '전국_숙박/음식', '전국_ 숙박',
       '전국_ 음식점', '전국_공과금/개인 및 전문 서비스', '전국_금융/보험', '전국_기타'])
credit_sum_df.head()

,날짜,전국_합계,전국_종합소매,전국_ 백화점,전국_ 대형마트/유통전문점,전국_ 슈퍼마켓,전국_ 편의점,전국_ 면세점,전국_전자상거래/통신판매,전국_식료품,...,전국_오락/문화,전국_ 스포츠/오락/여가,전국_ 서적/문구,전국_교육,전국_숙박/음식,전국_ 숙박,전국_ 음식점,전국_공과금/개인 및 전문 서비스,전국_금융/보험,전국_기타
0,2012-11,299970.34,53558.49,13695.10,26123.23,10604.38,1826.54,1309.25,29166.45,4778.33,...,13142.50,10450.19,2692.31,8644.69,33317.61,2119.99,31197.62,25205.61,10618.86,18468.27
1,2012-12,310533.02,57731.17,14542.45,28802.59,11308.05,1810.70,1267.38,29971.83,4895.34,...,12041.55,9030.65,3010.90,8440.60,37410.08,2454.51,34955.56,25947.67,10529.91,19655.81
2,2013-01,296732.27,51384.80,11189.07,25640.42,11435.88,1778.78,1340.65,28545.80,5024.76,...,10803.91,8001.41,2802.50,8776.78,34309.86,2458.03,31851.83,30498.42,10421.99,19792.28
3,2013-02,267365.92,48141.86,9748.40,25035.42,10602.32,1652.60,1103.11,24596.71,5510.28,...,9302.49,6800.21,2502.28,8431.41,28779.93,1821.75,26958.18,25149.57,9509.00,18103.45
4,2013-03,295640.18,49572.79,10873.94,24769.86,10904.74,1877.38,1146.88,26704.28,4775.35,...,12895.59,9214.35,3681.25,8996.41,34196.47,1898.21,32298.26,25570.21,10253.94,19820.98

In [123]:
credit_sum_df =  credit_sum_df.replace(' ','')
credit_sum_df

,날짜,전국_합계,전국_종합소매,전국_ 백화점,전국_ 대형마트/유통전문점,전국_ 슈퍼마켓,전국_ 편의점,전국_ 면세점,전국_전자상거래/통신판매,전국_식료품,...,전국_오락/문화,전국_ 스포츠/오락/여가,전국_ 서적/문구,전국_교육,전국_숙박/음식,전국_ 숙박,전국_ 음식점,전국_공과금/개인 및 전문 서비스,전국_금융/보험,전국_기타
0,2012-11,299970.34,53558.49,13695.10,26123.23,10604.38,1826.54,1309.25,29166.45,4778.33,...,13142.50,10450.19,2692.31,8644.69,33317.61,2119.99,31197.62,25205.61,10618.86,18468.27
1,2012-12,310533.02,57731.17,14542.45,28802.59,11308.05,1810.70,1267.38,29971.83,4895.34,...,12041.55,9030.65,3010.90,8440.60,37410.08,2454.51,34955.56,25947.67,10529.91,19655.81
2,2013-01,296732.27,51384.80,11189.07,25640.42,11435.88,1778.78,1340.65,28545.80,5024.76,...,10803.91,8001.41,2802.50,8776.78,34309.86,2458.03,31851.83,30498.42,10421.99,19792.28
3,2013-02,267365.92,48141.86,9748.40,25035.42,10602.32,1652.60,1103.11,24596.71,5510.28,...,9302.49,6800.21,2502.28,8431.41,28779.93,1821.75,26958.18,25149.57,9509.00,18103.45
4,2013-03,295640.18,49572.79,10873.94,24769.86,10904.74,1877.38,1146.88,26704.28,4775.35,...,12895.59,9214.35,3681.25,8996.41,34196.47,1898.21,32298.26,25570.21,10253.94,19820.98
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
109,2021-12,539935.08,72991.73,16509.80,29238.11,17759.22,8968.91,515.68,132006.30,10014.39,...,12723.92,9748.01,2975.90,10762.54,47156.65,2732.84,44423.81,60242.33,24112.50,40410.91
110,2022-01,545394.92,76347.07,16044.01,31659.32,19422.93,8730.99,489.82,131621.64,12855.90,...,11337.65,8512.42,2825.23,11109.97,44354.54,2624.21,41730.34,72049.97,22435.69,39684.46
111,2022-02,470296.08,62651.29,12867.77,25751.48,15657.35,7927.86,446.83,119029.37,7986.69,...,10204.06,7841.77,2362.28,10193.33,36902.07,2436.82,34465.24,54784.83,21303.98,35973.76
112,2022-03,539346.45,71787.11,14932.79,28682.36,18116.34,9562.31,493.32,134751.97,8896.80,...,14276.81,10963.02,3313.79,11284.20,44099.97,2223.13,41876.84,59248.48,25145.71,40845.27
113,2022-04,551389.61,72791.62,16272.46,28736.88,17730.61,9418.61,633.06,130324.09,9477.90,...,15965.43,13297.52,2667.91,10311.90,52594.67,2480.80,50113.87,59760.65,23396.79,41978.11

In [118]:
credit_sum_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 114 entries, 0 to 113
Data columns (total 42 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   날짜                  114 non-null    object
 1   전국_합계               114 non-null    float64
 2   전국_종합소매             114 non-null    float64
 3   전국_ 백화점             114 non-null    float64
 4   전국_ 대형마트/유통전문점      114 non-null    float64
 5   전국_ 슈퍼마켓            114 non-null    float64
 6   전국_ 편의점             114 non-null    float64
 7   전국_ 면세점             114 non-null    float64
 8   전국_전자상거래/통신판매       114 non-null    float64
 9   전국_식료품              114 non-null    float64
 10  전국_ 일반식료품           114 non-null    float64
 11  전국_ 건강보조식품          114 non-null    float64
 12  전국_의류/잡화            114 non-null    float64
 13  전국_ 의복/직물           114 non-null    float64
 14  전국_ 복식잡화            114 non-null    float64
 15  전국_ 시계/귀금속/안경       114 non-null    float64
 16  전국_ 화장품             114 non-null    float64
 17  전국_연료               114 non-null    float64
 18  전국_가구/가전            114 non-null    float64
 19  전국_ 가구              114 non-null    float64
 20  전국_ 가전제품/정보통신기기     114 non-null    float64
 21  전국_의료/보건            114 non-null    float64
 22  전국_ 종합병원            114 non-null    float64
 23  전국_ 일반병의원/기타의료기관    114 non-null    float64
 24  전국_자동차              114 non-null    float64
 25  전국_ 국산자동차신품         114 non-null    float64
 26  전국_ 기타운송수단          114 non-null    float64
 27  전국_ 자동차 부품 및 정비     114 non-null    float64
 28  전국_여행/교통            114 non-null    float64
 29  전국_ 여행사/자동차임대       114 non-null    float64
 30  전국_ 항공사             114 non-null    float64
 31  전국_ 대중교통            114 non-null    float64
 32  전국_오락/문화            114 non-null    float64
 33  전국_ 스포츠/오락/여가       114 non-null    float64
 34  전국_ 서적/문구           114 non-null    float64
 35  전국_교육               114 non-null    float64
 36  전국_숙박/음식            114 non-null    float64
 37  전국_ 숙박              114 non-null    float64
 38  전국_ 음식점             114 non-null    float64
 39  전국_공과금/개인 및 전문 서비스  114 non-null    float64
 40  전국_금융/보험            114 non-null    float64
 41  전국_기타               114 non-null    float64
dtypes: float64(41), object(1)
memory usage: 37.5+ KB

In [94]:
df1 = credit_sum_df[['날짜','전국_건강보조식품']]
df1['전국_건강보조식품_등락률'] = credit_sum_df['전국_건강보조식품'].pct_change().round(2)
df1['전국_의료/보건'] = credit_sum_df['전국_의료/보건']
df1['전국_의료/보건_등락률'] = credit_sum_df['전국_의료/보건'].pct_change().round(2)
df1['전국_종합병원'] = credit_sum_df['전국_종합병원']
df1['전국_종합병원_등락률'] = credit_sum_df['전국_종합병원'].pct_change().round(2)
df1['전국_일반병의원/기타의료기관'] = credit_sum_df['전국_일반병의원/기타의료기관']
df1['전국_일반병의원/기타의료기관_등락률'] = credit_sum_df['전국_일반병의원/기타의료기관'].pct_change().round(2)
df1.head()

KeyError: "['전국_건강보조식품'] not in index"