### 전국 신용카드 승인금액

In [1]:
import pandas as pd

# csv파일 불러오기
df = pd.read_csv('./data/카드_전국.csv')
df

,날짜,전국_합계,전국_종합소매,전국_ 백화점,전국_ 대형마트/유통전문점,전국_ 슈퍼마켓,전국_ 편의점,전국_ 면세점,전국_전자상거래/통신판매,전국_식료품,...,전국_오락/문화,전국_ 스포츠/오락/여가,전국_ 서적/문구,전국_교육,전국_숙박/음식,전국_ 숙박,전국_ 음식점,전국_공과금/개인 및 전문 서비스,전국_금융/보험,전국_기타
0,2012/11,299970.34,53558.49,13695.10,26123.23,10604.38,1826.54,1309.25,29166.45,4778.33,...,13142.50,10450.19,2692.31,8644.69,33317.61,2119.99,31197.62,25205.61,10618.86,18468.27
1,2012/12,310533.02,57731.17,14542.45,28802.59,11308.05,1810.70,1267.38,29971.83,4895.34,...,12041.55,9030.65,3010.90,8440.60,37410.08,2454.51,34955.56,25947.67,10529.91,19655.81
2,2013/01,296732.27,51384.80,11189.07,25640.42,11435.88,1778.78,1340.65,28545.80,5024.76,...,10803.91,8001.41,2802.50,8776.78,34309.86,2458.03,31851.83,30498.42,10421.99,19792.28
3,2013/02,267365.92,48141.86,9748.40,25035.42,10602.32,1652.60,1103.11,24596.71,5510.28,...,9302.49,6800.21,2502.28,8431.41,28779.93,1821.75,26958.18,25149.57,9509.00,18103.45
4,2013/03,295640.18,49572.79,10873.94,24769.86,10904.74,1877.38,1146.88,26704.28,4775.35,...,12895.59,9214.35,3681.25,8996.41,34196.47,1898.21,32298.26,25570.21,10253.94,19820.98
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
109,2021/12,539935.08,72991.73,16509.80,29238.11,17759.22,8968.91,515.68,132006.30,10014.39,...,12723.92,9748.01,2975.90,10762.54,47156.65,2732.84,44423.81,60242.33,24112.50,40410.91
110,2022/01,545394.92,76347.07,16044.01,31659.32,19422.93,8730.99,489.82,131621.64,12855.90,...,11337.65,8512.42,2825.23,11109.97,44354.54,2624.21,41730.34,72049.97,22435.69,39684.46
111,2022/02,470296.08,62651.29,12867.77,25751.48,15657.35,7927.86,446.83,119029.37,7986.69,...,10204.06,7841.77,2362.28,10193.33,36902.07,2436.82,34465.24,54784.83,21303.98,35973.76
112,2022/03,539346.45,71787.11,14932.79,28682.36,18116.34,9562.31,493.32,134751.97,8896.80,...,14276.81,10963.02,3313.79,11284.20,44099.97,2223.13,41876.84,59248.48,25145.71,40845.27
113,2022/04,551389.61,72791.62,16272.46,28736.88,17730.61,9418.61,633.06,130324.09,9477.90,...,15965.43,13297.52,2667.91,10311.90,52594.67,2480.80,50113.87,59760.65,23396.79,41978.11

In [2]:
# 날짜 컬럼 "/" 제거
df["날짜"] = df["날짜"].str.replace("/", "")

In [4]:
# 날짜 컬럼 int 타입으로 변환
df["날짜"] = df["날짜"].astype(int)

In [5]:
df["날짜"] = pd.to_datetime(df["날짜"], format='%Y%m')
df["날짜"] = df["날짜"].dt.strftime('%Y-%m')

In [10]:
df.columns = df.columns.str.replace('_ ','_')
df.columns

Index(['날짜', '전국_합계', '전국_종합소매', '전국_백화점', '전국_대형마트/유통전문점', '전국_슈퍼마켓',
       '전국_편의점', '전국_면세점', '전국_전자상거래/통신판매', '전국_식료품', '전국_일반식료품', '전국_건강보조식품',
       '전국_의류/잡화', '전국_의복/직물', '전국_복식잡화', '전국_시계/귀금속/안경', '전국_화장품', '전국_연료',
       '전국_가구/가전', '전국_가구', '전국_가전제품/정보통신기기', '전국_의료/보건', '전국_종합병원',
       '전국_일반병의원/기타의료기관', '전국_자동차', '전국_국산자동차신품', '전국_기타운송수단',
       '전국_자동차 부품 및 정비', '전국_여행/교통', '전국_여행사/자동차임대', '전국_항공사', '전국_대중교통',
       '전국_오락/문화', '전국_스포츠/오락/여가', '전국_서적/문구', '전국_교육', '전국_숙박/음식', '전국_숙박',
       '전국_음식점', '전국_공과금/개인 및 전문 서비스', '전국_금융/보험', '전국_기타'],
      dtype='object')

### 분류별 상품 나누기

In [11]:
# 상품 나누기
df_res = df[['날짜','전국_숙박/음식', '전국_숙박', '전국_음식점']]
df_shooping = df[['날짜', '전국_백화점', '전국_대형마트/유통전문점', '전국_슈퍼마켓', '전국_편의점']]
df_vechicle = df[['날짜', '전국_자동차', '전국_국산자동차신품', '전국_기타운송수단', '전국_자동차 부품 및 정비', '전국_연료']]
df_travel = df[['날짜','전국_면세점','전국_여행/교통','전국_여행사/자동차임대','전국_항공사','전국_대중교통','전국_오락/문화','전국_스포츠/오락/여가']]
df_retail = df[['날짜','전국_종합소매','전국_식료품','전국_일반식료품','전국_가구/가전','전국_가구','전국_가전제품/정보통신기기']]
df_fashion = df[['날짜','전국_의류/잡화','전국_의복/직물','전국_복식잡화','전국_시계/귀금속/안경','전국_화장품']]
df_online = df[['날짜','전국_전자상거래/통신판매']]
df_hospital = df[['날짜','전국_건강보조식품','전국_의료/보건','전국_종합병원','전국_일반병의원/기타의료기관']]
df_etc = df[['날짜','전국_서적/문구','전국_교육','전국_공과금/개인 및 전문 서비스','전국_금융/보험','전국_기타']]